*{
  margin: 0;
  padding: 0;
}

body{
  background: #f9e933; /*Yellow */
}

header,main,footer{
  min-width: 855px;
  padding:25px 0;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header{
  background: white;
  overflow: auto;
}

h1{
  float: left;
  width: 570px;
}

nav{
  float: right;
  width: 285px;
}

main{
  background: white;
  overflow: auto;
  position: relative;
  height:420px;
}

main .subContLeft{
  float: left;
  width: 570px;
}

main .subContRight{
  float:right;
  width:285px;
}

main .label{
  float:left;
  width:125px;
  padding: 10px 0;
}

main .input{
  float: left;
  width:730px;
  padding: 10px 0;
}

h2,p,h3{
  padding: 10px 0;
}

main .subContLeft ul, main .subContLeft li{
  padding: 10px 25px;
}

main .container p{
  padding:10px 0;
}

footer .contact{
  float: left;
  width: 570px;
}

footer .sitemap{
  float:right;
  width:285px;
}
